<<<<<<< HEAD
h1{
    background-color: aqua;
}

.par{
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 0px 20px #5be196;
=======
h1{
    background-color: aqua;
}

.par{
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 0px 20px #5be196;
>>>>>>> 99fe0dc7c930753282e9bf218c4ef71900a20480
}